
.slide.kidslide{
    background-color: var(--lightbg);
    padding: 2% 0;
}

.img{
    width: 100%;
}

.kidready{
.ready{
    text-align: center;
    padding: 8% 20%;
    background-color: var(--kids);
    color: var(--blacktext);
    
    .headlink{
       font-family: 'Fuzzy Bubbles', cursive; 
    }
    
    p{
        margin-bottom: 5%;
        font-family: 'Varela Round', sans-serif;
    }
    #readylink{
        text-decoration: none;
        color: black;
        padding: 1% 3%;
        border-radius: 5px;
        background-color: white;
        border: 1px solid black;
    }
    #readylink:hover{
        border: 1px solid white;
    }
}
}

.kidhomeclients{
    text-align: center;
    background-color: var(--creambg);
    padding: 5%;
    h1{
        color: var(--kids);
        font-family: 'Fuzzy Bubbles', cursive;
    }

    .line{
        margin: 10px auto;
    }

    .homeclientsay{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2% 0;
        h2,p,h4{
            color: var(--kidstext);
            font-family: 'Varela Round', sans-serif;
        }
    }
}



.different{
    padding: 5% 15%;
    background-color: var(--bluebg);
    color: white;
    text-align: center;
}

.kidtailored{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
    .left{
        width: 50%;
        padding: 3%;
        img{
            width: 100%;
            border-radius: 3px;
        }
    }
    .right{
        width: 50%;
        padding: 5%;

        .headlink{
            color: var(--kids);
            font-family: 'Fuzzy Bubbles', cursive;
        }
        p{
            color: var(--kidstext);
            font-family: 'Varela Round', sans-serif;
        }

        ul{
            margin: 5% 0;
            font-size: 15px;
            li{
                margin: 5% 0;
                color: var(--kidstext);
                font-family: 'Varela Round', sans-serif;
                display: flex;
                align-items: center;
            }
        }
        #tailored{
            font-weight: 600;
            font-size: 20px;
            color: var(--link);
            text-decoration: none;
            font-family: 'Fuzzy Bubbles', cursive;
            span{
                font-family: 'Fuzzy Bubbles', cursive;
            }
        }
        #tailored:hover{
            span{
                text-decoration: underline;
            }
        }
    }
}

.kidservices{
    padding: 5%;
    text-align: center;
    h1,h2{
        font-family: 'Fuzzy Bubbles', cursive;
    }
    h1{
        color: var(--kids);
        font-weight: 600;
    }
    p,h2{
        color: var(--kidstext);
    }
    p{
        font-family: 'Varela Round', sans-serif;
        margin: 2% 10% 5%;
    }
    h2{
        margin-top: 2%;
    }
    .offers{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: start;
        gap: 2%;
        a{
            width: 32%;
            padding: 2% 0;
        }

    }
}

.slimline{
    height: 1px;
    width: 200px;
    background-color: var(--golden);
    margin: auto;
}

.kidcaregivers{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    background-color: var(--kidservice);
    color: white;

    .left{
        width: 50%;
        padding: 5%;
        h1{
            font-family: 'Fuzzy Bubbles', cursive;
        }
        p{
            margin-bottom: 5%;
            font-family: 'Varela Round', sans-serif;
        }
        #tailored{
            font-weight: 600;
            font-size: 20px;
            color: white;
            text-decoration: none;
            font-family: 'Fuzzy Bubbles', cursive;
            span{
                font-family: 'Fuzzy Bubbles', cursive;
            }
        }
        #tailored:hover{
            span{
                text-decoration: underline;
            }
        }
    }
    .right{
        width: 50%;
        img{
            width: 100%;
            border-radius: 3px;
            
        }
        td{
            padding: 5px 8px;
        }
    }
}
@media only screen and ( max-width: 750px ){
    .kidservices{
        padding: 5% 2%;
        .offers{
            a{
                width: 100%;
            }
    
        }
    }
}