.lart{
    text-align: center;
    width: 30vw;
    margin: 0 4%;
    img{
        width: 250px;
    }
    h2{
        font-size: 20px;
        margin-top: 5%;
    }
    p{
        font-size: 15px;
        margin: 5% 0 8%;
    }
    a{
        color: var(--link);
        font-weight: 800;
        font-size: 15px;
    }
}

@media only screen and ( max-width: 750px ){
    .lart{
        width: 100%;
        margin: 4% 0;
        p{
            margin: 5% 0 2%;
        }
    }
    
}