#footer{
    background-color: var(--bluebg);
    padding: 5%;
    color: white;
    .foothat{
        display: flex;
        align-items: center;
        justify-content: space-between;

        img{
            width: 200px;
        }
        h2{
            color: var(--golden);
            text-transform: uppercase;
        }

        #footsocial{
            width: 10%;
            .icon{
                color: white;
                padding-left: 15%;
                font-size: 20px;
            }
        }
    }

    footer{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 4% 0;
        padding-right: 12%;

        ul{
            list-style: none;
            li{
                margin: 8% 0;
                font-size: 24px;
                font-weight: 500;
                align-items:center;
                display: flex;
                .icons{
                    margin-right: 2%;
                } 
                a{
                    color: white;
                    font-size: 18px;
                    font-weight: 400;
                    text-decoration: none;
                }
                .footlink{
                    color: white;
                    font-size: 18px;
                    font-weight: 400;
                    text-decoration: none;
                }
                .footlink:hover{
                    color: #777;
                }
            }
        }
        
        
    }
}

@media only screen and ( max-width: 800px ) {
    footer{
        flex-direction: column;
        
    }
    #footer footer ul li{
        font-size: 18px;
        line-break: anywhere;
    }
}