.jobimg{
    background-color: var(--bluebg);
    display: flex;
    justify-content: center;
    height: 50vh;

   .innerjobimg{
        position: relative;
        img{
            // position: absolute;
            height: 70vh;
        }
   }
   
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    padding-top: 12%;
    .left{
        padding: 5% 7%;
        width: 80%;
        align-self: start;
        h2{
            line-height: 50px;
            margin-top: 2%;
        }
    }
    .right{
        background-color: rgba(0, 0, 0, 0.09);
        padding: 1% 3%;
        text-align: center;

        .group{
            margin: 5% 0;

            h3{
                line-height: 30px;
            }
            p{
                margin: 2% 0;
            }
        }
    }

}
.apply{
    text-align: center;
    margin: 2% 0 7%;
}

.register{
    padding: 3%;
    text-align: center;

    h2{
        line-height: 54px;
        font-size: 36px;
    }
    form{
        text-align: left;
        padding: 1% 10%;
    }
}

.f{
    .formcontrol{
        width: 90%;
        margin: 0;
        input{
            color: #BBB7B7;
        }
        
        
        .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon, .css-1mf6u8l-MuiSvgIcon-root-MuiSelect-icon{
            color:  var(--yellow);
        }
        .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root{
            color: #BBB7B7;
            // padding: 0 5%;
        }
        .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused, .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root{
            display: none;
        }
        
        
    }
}
.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.circle{
    width: 10px;
    height: 10px;
    outline: 2px solid var(--yellow);
    background-color: #141414D1;
    border: 2px solid #141414D1;
    border-radius: 50%;
}

.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
    background: #141414D1;
    border-radius: 16px;
    width: min-content;
    right: 0;
}
ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list{
    padding: 0;
    border-radius: 16px;
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0), 0px 8px 10px 1px rgba(0,0,0,0), 0px 3px 14px 2px rgba(0,0,0,0);
    background: transparent;
    
}
li.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root.MuiMenuItem-gutters.menuitem.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root, 
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected, 
li.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root.MuiMenuItem-gutters.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
    font-size: 15px;
    border-top: 1px solid white;
    background: transparent;
    border: 0;
    color: white;
}
li.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root.MuiMenuItem-gutters.menuitem.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
    margin-top: 0;
    border-top: 1px solid white;
}
    
@media only screen and ( max-width: 750px ){
    .jobimg{
        height: 20vh;
    
       .innerjobimg{
            text-align: center;
            img{
                // position: absolute;
                width: 90%;
                height: auto;
            }
       }
       
    }
    .main{
        flex-direction: column;
        .left{
            width: 100%;
        }
        .right{
            margin: 4% 0;
        }
    }
}