#numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;

    h1{
        padding: 10px 21px;
        background-color: #BBB7B7;
        border-radius: 50%;
        margin: 0 2%;
        color: white;
        font-size: 25px;
    }
    #it{
        background-color: black;
    }
}
@media only screen and ( max-width: 750px ){
    #numbers{
        margin: 5% 0;
    }
}